/**
 * Application Styles
 */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  background-color: #CCC;
}
.navbar-brand {
  text-align: center; 
}
.container {
  margin: auto;
  width: 100%;
  /*overflow: hidden;*/
}

.welcome{
  width: 100%;
}

.login-button {
  margin: auto;
  margin-top: 24px;
  margin-bottom: 12px;
  width: 44.7%;
  height: 67px;
  background-color: red;
}

.signup-button {
  margin: auto;
  margin-bottom: 96px;
  width: 23.6%;
  height: 41px;
  background-color: green;
}

.buttons {
  padding: 1px;
}
.pos, .neg {
  height: 51px;
  width: 49%;
  background-color: orange;
  margin: 2px;
  line-height: 51px;
  text-align: center;
}

.pos {
  float: right;
}

.login {
  width: 77%;
  height: 184px;
  margin: auto;
  margin-top: 24px;
  background-color: purple;
}

.login p {
  text-align: center;
}

/*input {
  display: block;
}*/

.meeting-create {
  /*margin: auto;*/
  margin-top: 24px;
  margin-bottom: 12px;
  width: 77%;
  height: 115px;
  border-radius: 8px;
}

.lower-container {
  margin-top: 48px;
  overflow: auto;
  height: 258px;
  margin-bottom: 35px;
}

.top-row, .bottom-row {
  background-color: blue;
  /*text-align: center;*/
}


.meeting-button {
    display: inline-block;
    margin: 6px;
    /*margin-top: 6px;
    margin-bottom: 6px;*/
    background-color: green;
    width:60px;
    height:60px;
    padding-top: 20px;
}

.scrollup, .scrolldown {
    margin: auto;
    background-color: yellow;
    width: 40px;
    height: 40px;
}

header {
  margin-bottom: 60px;
}

footer {
  height: 35px;
  width: 100%;
  position: fixed;
  margin:0;
  bottom: 10px;
}
.timer{
  height: 75px;
  margin: auto;
  margin-left: 73px;
}
.time{
  width: 75px;
  height: 75px;
  /*background-color: orange;*/
}

.outside {
  padding: 0;
}
img {
  padding: 0;
}
.one, .two, .three {
  height: 80px;
  /*padding: 0;*/
}
.one {
  /*margin-left: 0;*/
  /*margin-right: 25px;*/
  /*border: 1px red solid;*/
  padding: 0;
  margin-top: 2px;
}

.one img{
  margin-left: 10px;
  border-radius: 5px;
}

.two {
  /*border: 1px black solid;*/
  padding: 0;
  margin: 0;
}
.three {
  /*margin-left: -45px;*/
  /*border: 1px green solid;*/
  margin-left: 0px;
  border-radius: 5px;
}

.mtg-start{
  margin-top: -8px;
  margin-bottom: 5px;
}
.top {
  height: 40px;
  margin-top: -6px;
  padding: 5px;
}
.duration {
  display: inline;
}

.detGrav {
  margin-right: -50px;
  margin-left: 10px;
  margin-top: -1px;
}

.tasklist {
  min-height: 50px;
}

.tiny {
  font-size: 10px;
}

.email {
  margin: 0;
}

.well {
  padding: 5px;
}



